fastapi
uvicorn
python-multipart
pydantic
python-dotenv
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-groq
langchain-qdrant
langchain-cohere
cohere 
beautifulsoup4 
markdownify 