fastapi
uvicorn[standard]
pydantic
python-dotenv
requests
beautifulsoup4
markdownify
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-qdrant
qdrant-client
langchain-cohere
langchain-groq
sentence-transformers